<div class="sr-results-inner block-inner">
	<div class="sr-content-container">
		
		<div class="begin-instructions">
			<div class="begin-instructions-inner">
				<h4 class="title">{{{assessmentResultsTitle}}}</h4>
				{{#if assessmentResultsFeedback}}
				<div class="body"><span class="score">{{{assessmentResultsFeedback}}}</span></div>
				{{/if}}
				{{#if assessmentResultsInstruction}}
				<div class="body"><span class="score">{{{assessmentResultsInstruction}}}</span></div>
				{{/if}}
			</div>
		</div>
	</div>
</div>